@mixin banners-promocionais ($cor,$url-imagem){
    background-color: $cor;
    background-image: url($url-imagem);
    
}
.banners-promocionais-statico{
    
    margin-top:2rem;

    .banners-promocionais-statico-12x{
        @include banners-promocionais($rosa, '../imagens/parcele-em-12x_1.jpg');
    }
    .banners-promocionais-statico-todo-br{
        @include banners-promocionais($roxo, '../imagens/entrega-para-todo-brasil_2.jpg');
    }

    .banners-promocionais-statico-12x,
    .banners-promocionais-statico-todo-br{
        background-size: cover;
        height:105px;
        padding: 1.5px 3.75rem;
        color: $branco;
    }
    svg,p{
        margin:0;
        padding:0;
    }
    svg{
        font-size: 40px;
        width:3.5rem;
        height:3.5rem;
    }
    p{
        font-Weight:100;
        font-size: 1.5rem;
        line-height: 110%;
        margin-left: 1.5rem;
    }
    strong{
        font-weight:bold;
    }
}