header {
    background: $cor-primaria;
    padding:1.5rem;
    form {
        input[type="text"] {
            background:$branco ;
            width: 100%;
            border: none;
            border-radius: 100px;
            padding: 10px 20px;
        }
        button {
            background: none;
            border: none;
            position: absolute;
            right: 30px;
        }
    }
    ul {
        li {
            position: relative;
            span.notificacao{
                color: $branco;
                background:$rosa;
                position: absolute;
                font-size: .8rem;
                top:-.8rem;
                left:.1rem;

                width:1rem;
                height:1rem;
                border-radius: 100%;
            }
            a {
                font-size: 1rem;
                font-weight: bold;
                color:$cor-secundaria;
                svg{
                    font-size:23px;
                    width:1.5rem;
                    height:1.5rem;
                }
                
                &:hover{
                    color:$cor-secundaria;
                }
            }
        }
    }
}