// header{
//     background: $rosa;
// }

header{
    background: $cor-primaria;
    padding:1.5rem
}

form{
    input[type="text"]{
        background:$branco;
        width:100%;
        border:none;
        border-radius: 100px;
        padding: 10px 20px;
    }
    button{
        background:none;
        border: none;
        position: absolute;
        right: 30px;
    }
}