
@media(max-width: 375px){
    .banners-promocionais-statico{
        .banners-promocionais-statico-12x,
        .banners-promocionais-statico-todo-br{
            p{
                font-size:1rem
            }

    }
    }
}


@media(max-width: 767px){
    header{
        form{
            margin: 1.5rem 0;
        }
    }
    #banner-promocionais{
        display: none;
    }
}
@media(max-width: 991px){
    header{
        ul{
            li{
                margin:.5rem 0;
            }
        }
    }

}